**Pandas Library Installation Command**

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

**Importing Pandas Library**

In [ ]:
import pandas as pd
series = pd.Series([10, 20, 30], index = ['a', 'b', 'c'])
print (series)

a    10
b    20
c    30
dtype: int64

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 0, 35]}
df = pd. DataFrame (data)
print (df)

      Name  Age
0    Alice   25
1      Bob    0
2  Charlie   35

In [ ]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

In [ ]:
print(df['Name'])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [ ]:
print(df.iloc[2])

Name    Charlie
Age          35
Name: 2, dtype: object

In [ ]:
print(df[df['Age'] > 25])

      Name  Age
2  Charlie   35

In [ ]:
df = df. fillna (0)
# Replace missing values with o
df = df. dropna () # Remove rows with missing values

      Name  Age
0    Alice   25
1      Bob    0
2  Charlie   35

In [ ]:
df = df. rename (columns={ 'Name': 'Full Name'})

In [ ]:
df = df. sort_values ('Age', ascending=True)

In [ ]:
print(df)

  Full Name  Age
1       Bob    0
0     Alice   25
2   Charlie   35

In [ ]:
df = df. sort_values ('Age', ascending=True)

In [ ]:
print(df)

  Full Name  Age
1       Bob    0
0     Alice   25
2   Charlie   35

In [ ]:
df['Salary'] = [50000,60000, 70000]

In [ ]:
print(df)

  Full Name  Age  Salary
1       Bob    0   50000
0     Alice   25   60000
2   Charlie   35   70000

In [ ]:
grouped = df.groupby('Age')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ba48dc20940>

In [ ]:
print(df['Age'].sum())
# Sum of ages
print(df['Age'].mean())

60
20.0

In [ ]:
df1 = pd. DataFrame({'ID': [1, 2], 'Name' : ['Alice', 'Bob']})

df2 = pd.DataFrame({'ID': [1, 2], 'Score': [85, 90]})

merged_df = pd.merge(df1, df2, on='ID' )
print (merged_df)

   ID   Name  Score
0   1  Alice     85
1   2    Bob     90