#**Numpy Array**

In [2]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

In [3]:
import numpy as np

In [6]:
x = np.array([1,2,3,4])
print(x)

[1 2 3 4]
<class 'numpy.ndarray'>

In [7]:
myList = [1,2,3,4]
print(myList)

[1, 2, 3, 4]
<class 'list'>

In [10]:
print(type(x))

<class 'numpy.ndarray'>

In [11]:
print(type(myList))

<class 'list'>

In [12]:
%timeit [j**4 for j in range(1,9)]

2.6 µs ± 47.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [13]:
%timeit np.arange(1,9)**4

2.46 µs ± 505 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [15]:
myInput = int(input("Enter Any Number"))
print(myInput)

Enter Any Number33
33

In [16]:
print(type(myInput))

<class 'int'>

#**Initialization of the list**
Here, an empty list called listValues is created.
This list will store the integer values entered by the user.
This for loop runs 4 times (from 1 to 4), as the range(1, 5) function generates numbers from 1 to 4. Each time the loop runs, the user will be prompted to enter a value.

#**Input and Append**

*   In each iteration of the loop, the program prompts the user to enter an integer value.

*   The entered value is converted from a string to an integer using int().

*   The integer is then added (appended) to the values list using append().

#**Converting the List to a NumPy Array**

*   Finally, after all 4 values are entered, the list values is converted into a NumPy array using np.array().
*   The array is then printed to the screen.

In [17]:
listValues = []
for i in range(1, 5):
    getInputValue = int(input("Enter: "))
    listValues.append(getInputValue)

print(listValues)

Enter: 44
Enter: 88
Enter: 22
Enter: 32
[44, 88, 22, 32]

In [18]:
print(np.array(listValues))

[44 88 22 32]

#**Weekly Temperature Analysis Using NumPy**

In [20]:

temperatures = np.array([36, 39, 34, 42, 40, 38, 33])

average_temp = np.mean(temperatures)

print("Temperatures over the week:", temperatures)
print(f"Average temperature: {average_temp:.2f}")

Temperatures over the week: [36 39 34 42 40 38 33]
Average temperature: 37.43

#**Weekly Sales Data Analysis Using NumPy**

In [25]:

daily_sales = np.array([150, 200, 170, 220, 180, 190, 210])

average_sales = np.mean(daily_sales)
print(f"Average daily sales: PKR {average_sales:.2f}")

total_sales = np.sum(daily_sales)
print(f"Total sales for the week: PKR {total_sales:.2f}")

max_sales = np.max(daily_sales)
min_sales = np.min(daily_sales)
print(f"Maximum sales in a day: PKR {max_sales:.2f}")
print(f"Minimum sales in a day: PKR {min_sales:.2f}")

std_sales = np.std(daily_sales)
print(f"Standard deviation of sales: PKR {std_sales:.2f}")

variance_sales = np.var(daily_sales)
print(f"Variance of sales: PKR {variance_sales:.2f}")

cumulative_sales = np.cumsum(daily_sales)
print("Cumulative sales for the week:", cumulative_sales)

Average daily sales: PKR 188.57
Total sales for the week: PKR 1320.00
Maximum sales in a day: PKR 220.00
Minimum sales in a day: PKR 150.00
Standard deviation of sales: PKR 22.31
Variance of sales: PKR 497.96
Cumulative sales for the week: [ 150  350  520  740  920 1110 1320]

#**What is a 2D Array?**
A 2D array (or two-dimensional array) is an array of arrays, which can be thought of as a table with rows and columns. Each element in the 2D array can be accessed using two indices: one for the row and one for the column.

#**Grocery Store Inventory Analysis**

In [26]:
inventory = np.array([
    [50.0, 100],  # Product 1: Price 50 PKR, Quantity 100
    [30.0, 150],  # Product 2: Price 30 PKR, Quantity 150
    [40.0, 120],  # Product 3: Price 40 PKR, Quantity 120
    [80.0, 80],   # Product 4: Price 80 PKR, Quantity 80
    [45.0, 200]   # Product 5: Price 45 PKR, Quantity 200
])


total_quantity = np.sum(inventory[:, 1])
print(f"Total quantity of products in stock: {total_quantity}")


total_value = np.sum(inventory[:, 0] * inventory[:, 1])
print(f"Total value of inventory (in PKR): {total_value:.2f}")


average_price = np.mean(inventory[:, 0])
print(f"Average price of products (in PKR): {average_price:.2f}")


print("\nGrocery Store Inventory:")
for i, item in enumerate(inventory, start=1):
    print(f"Product {i}: Price: PKR {item[0]:.2f}, Quantity: {item[1]}")

Total quantity of products in stock: 650.0
Total value of inventory (in PKR): 29700.00
Average price of products (in PKR): 49.00

Grocery Store Inventory:
Product 1: Price: PKR 50.00, Quantity: 100.0
Product 2: Price: PKR 30.00, Quantity: 150.0
Product 3: Price: PKR 40.00, Quantity: 120.0
Product 4: Price: PKR 80.00, Quantity: 80.0
Product 5: Price: PKR 45.00, Quantity: 200.0